 html { 
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased; }

    body{
      background-color: lightgreen;
      opacity: .5;
    }
  
  .background{
  background-color: black;
  width: 9000px;
  height: 9000px;
  border-radius: 9000px;
  position: fixed;
  animation-name: background1;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  }

  a {
    color:blue;
    text-decoration:none;
  }
  a:hover {
    color:Yellow;
  }
  a:link { -webkit-tap-highlight-color: Navy; }
  #container{
    overflow: hiden;
  }
  #main {
    display: block;
    position: relative;
    float: left;
    overflow: hiden;
     }

  #outer-circle {
    border: 10px solid lightblue;
    border-top-color:Steelblue;
    margin: 20% auto;
    text-align:center;
    background: -webkit-linear-gradient(top, #ffffff 48%, #ecebfa 49%, #ecebfa 51%, #fff 52%);
    background: -moz-linear-gradient(top, #ffffff 48%, #ecebfa 49%, #ecebfa 51%, #fff 52%);
    background: linear-gradient(to bottom, #ffffff 48%, #ecebfa 49%, #ecebfa 51%, #fff 52%);
    width: 220px;
    height: 220px;
  
    -webkit-border-radius: 220px;
    -moz-border-radius: 220px;
    border-radius: 220px;
  
    -webkit-animation:turning_ccw 15s infinite;
    -moz-animation:turning_cw 5s infinite;
    animation:turning_cw 5s infinite;
    position:relative;
    opacity: 0.8; 
    transition: all 1000ms;

  }

    
    
  #inner-circle {
    border: 10px solid Aqua;
    border-left-color:Turquoise;
    border-right-color:Teal;
  
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  
    position:absolute;
  
    background: -webkit-linear-gradient(top, #ecebfa 48%, #746EBB 49%, #746EBB 51%, #ECEBFA 52%);
    background: -moz-linear-gradient(top, #ecebfa 48%, #746EBB 49%, #746EBB 51%, #ECEBFA 52%);
    background: linear-gradient(to bottom, #ecebfa 48%, #746EBB 49%, #746EBB 51%, #ECEBFA 52%);
  
    margin: 10px;
    width: 180px;
    height: 180px;
  
    -webkit-border-radius: 180px;
    -moz-border-radius: 180px;
    border-radius: 180px;
  
    -webkit-animation:turning_acw 3s infinite;
    -moz-animation:turning_acw 3s infinite;
    animation:turning_acw 3s infinite; }

  #center-circle {
    border: 10px solid Navy;
    opacity: .3;
    border-bottom-color:lightblue;
    -webkit-transform: rotate(360deg); 
    -moz-transform: rotate(360deg); 
    transform: rotate(360deg); 
    position:absolute;

    background: -webkit-linear-gradient(top, #fff 48%, #ECEBFA 49%, #ECEBFA 51%, #fff 52%);
    background: -moz-linear-gradient(top, #fff 48%, #ECEBFA 49%, #ECEBFA 51%, #fff 52%);
    background: linear-gradient(to bottom, #fff 48%, #ECEBFA 49%, #ECEBFA 51%, #fff 52%);
  
    margin: 10px;
    width: 140px;
    height: 140px;
  
    -webkit-border-radius: 140px;
    -moz-border-radius: 140px;
    border-radius: 140px;
  
    -webkit-animation:turning_cw 15s infinite;
    -moz-animation:turning_cw 15s infinite;
    animation:turning_cw 15s infinite; }

  #content {
    position:absolute;
    top: 10px;
    left: 10px;
    width: 120px;
    height: 120px;
    -webkit-border-radius: 140px;
    -moz-border-radius: 140px;
    border-radius: 140px;
    background: Lightgreen; 
    opacity: .5;
    text-align:center;
    line-height: 120px;
    font-size: 30px;
    color: Yellow;
    text-shadow: 0 2px 2px #000;
    font-weight:bold; }

  @keyframes background1{
  0% {background-color: red;}
  25%{background-color: orange;}
  50%{background-color: yellow;}
  75%{background-color: lightgreen;}
  85%{background-color: powderblue;}
  90%{background-color: purple;}
  100%{background-color: red;}
}

  @-webkit-keyframes aura {
    0%{
      text-shadow: 0 2px 2px #000; }
      
    50%{
      text-shadow: 0 10px 10px #000;
      line-height: 190px; }
      
    100%{
      text-shadow: 0 2px 10px #000; }
  }

  @-webkit-keyframes turning_cw {
    0%{
      -webkit-transform: rotate(0deg); }
    100%{
      -webkit-transform: rotate(360deg); }
  }
  
  @-webkit-keyframes turning_acw {
    0%{
      -webkit-transform: rotate(360deg); }
    100%{
      -webkit-transform: rotate(0deg); }
  }

  @-moz-keyframes aura {
    0%{
      text-shadow: 0 2px 2px #000; }
      
    50%{
      text-shadow: 0 10px 10px #000;
      line-height: 190px; }
      
    100%{
      text-shadow: 0 2px 10px #000; }
  }

  @-moz-keyframes turning_cw {
    0%{
      -moz-transform: rotate(0deg); }
    100%{
      -moz-transform: rotate(360deg); }
  }
  
  @-moz-keyframes turning_acw {
    0%{
      -moz-transform: rotate(360deg); }
    100%{
      -moz-transform: rotate(0deg); }
  }

  @keyframes aura {
    0%{
      text-shadow: 0 2px 2px #000; }
      
    50%{
      text-shadow: 0 10px 10px #000;
      line-height: 190px; }
      
    100%{
      text-shadow: 0 2px 10px #000; }
  }

  @keyframes turning_cw {
    0%{
      transform: rotate(0deg); }
    100%{
      transform: rotate(360deg); }
  }
  
  @keyframes turning_acw {
    0%{
      transform: rotate(360deg); }
    100%{
      transform: rotate(0deg); }
  }